@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  background-color: #1A1B1E;
}

.header-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/src/assets/hero-image-wr.jpg');
  background-size: cover;
  background-position: center;
  min-height: 16rem;
}